<div class="container">

  <span class="main-title">Create New Post</span>

  <form id="editform" method="post" action="/questions">
    <input name="question[user_id]" type="hidden" value="<%= session[:user] %>">
    <span class="form-title">Title: </span><input class="form-title-input" name="question[title]" type="text" placeholder="Title of Post" required>
    <h2>Body:</h2>
    <textarea rows="4" cols="50" name="question[body]" form="editform" placeholder="Type Description Here"></textarea>
    <br><br>
    <button type="submit">Save Article</button>

  </form>
</div>
