<h1>login</h1>

<form method="post" action="/sessions">
  <ul class="form">
    <li><input type="text" name="username" placeholder="username"></li>
    <li><input type="password" name="password" placeholder="password"></li>
    <li>
        <button class="button" type="submit">Login</button>
    </li>
  </ul>
</form>
