<% if @errors %>
  <% @errors.each do |error| %>
   <h3 class="error-message"> <%= error %> </h3>
  <% end %>
<% end %>

<form class="new-comment-form new-question-comment-form" action="/questions/<%=@question.id%>/comments" method="post">
  <%= erb(:_comment) %>
</form>
