<section>
  <table>
   <!--  <tr>
      <th>This is the @recipe! (we don't have a name)</th>
    </tr> -->
    <tr>
      <td><%= @recipe.body %> </td>
    </tr>
    <tr>
      <td>submitted by: <%= @recipe.user.username %> </td>
    </tr>
  </table>
</section>

<section>
<% if @comments %>
  <% @comments.each do |comment| %>
  <!-- <%= erb heshams partial name%>  -->
  <% end %>
<% end %>
</section>
