<section>
  <table>
   <!--  <tr>
      <th>This is the @recipe! (we don't have a name)</th>
    </tr> -->
    <tr>
      <td><%= @recipe.body %> </td>
    </tr>
    <tr>
      <td>submitted by: <%= @recipe.user.username %> </td>
    </tr>
  </table>
</section>

<!-- edit/delete buttons here -->
<% if @recipe.user_id == session[:user] %>

  <form method="post" action=<%= "/questions/#{@question.id}/recipes/#{@recipe.id}/edit" %> >
    <input type="hidden" name="_method" value="put">
    <button type="submit">Edit Article</button>
  </form>

  <br>
  <form method="post" action=<%= "/questions/#{@question.id}/recipes/#{@recipe.id}" %> >
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Article">
  </form>

<% end %>
<section>
<% if @comments %>
  <% @comments.each do |comment| %>

  <% end %>
<% end %>
</section>
