<label>Comment</label><br>
<input type='hidden' name='comment[user_id]' value='<%= session[:user] %>'>
<textarea rows="4" cols="20" name="comment[body]"></textarea><br><br>
<input type="submit" value="Submit">
